footer {
    background-color: #0c2822;
    padding: 15px 5px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    min-height: 16.1%;
    color: #bbb;
    text-align: center;
}

#trace-row {
    border-top: 1px solid white;
    width: 75%;
    margin-top: 1.5%;
    padding-top: 1.5%;
}

